{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table cellpadding="0" cellspacing="0" style="width: 100%;">
        <tr>
            <td style="text-align: left;" valign="top">
                <img src="https://sendmail-template.herokuapp.com/static/booksapp.png" style="width: 10rem;height: 5rem;" alt="">
            </td>
            <td style="text-align: right;font-size: 0.7rem;">
                <strong>91 TECHNOLOGIES PRIVATE LIMITED</strong><br>
                <i>1190-80/1, 26th Main Road, 9th Block</i><br>
                <i>Jayanagar, Bengaluru - 560069</i><br>
                CIN:U74999KA2019PTC122507<br>
                <label>Website: </label>
                <a href="https://www.booksapp.in">https://www.booksapp.in</a>
            </td>
        </tr>
    </table>
    <center>
        <img src="https://sendmail-template.herokuapp.com/static/welcome.png" style="width: 20rem;height: 15rem;" alt=""><br>
        <div style="margin-top: 1rem;font-size: 1rem;">
            <strong>Welcome to {{ username }}!</strong>
        </div>
    </center>
</body>
</html>
