{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table cellpadding="0" cellspacing="0" style="width: 100%;">
        <tr>
            <td style="text-align: left;" valign="top">
                <img src="https://assets.volkswagen.com/is/image/volkswagenag/Online-Test-1-1?Zml0PWNyb3AsMSZmbXQ9cG5nLWFscGhhJndpZD04MDAmYmZjPW9mZiY5NTk3" style="width: 5rem;height: 2rem;" alt="">
            </td>
            <td style="text-align: right;font-size: 0.7rem;">
                <strong>91 TECHNOLOGIES PRIVATE LIMITED</strong><br>
                <i>1190-80/1, 26th Main Road, 9th Block</i><br>
                <i>Jayanagar, Bengaluru - 560069</i><br>
                CIN:U74999KA2019PTC122507<br>
                <label>Website: </label>
                <a href="https://www.booksapp.in">https://www.booksapp.in</a>
            </td>
        </tr>
    </table>
    <center>
        <img src="https://assets.volkswagen.com/is/image/volkswagenag/Online-Test-1-1?Zml0PWNyb3AsMSZmbXQ9cG5nLWFscGhhJndpZD04MDAmYmZjPW9mZiY5NTk3" style="width: 15rem;height: 12rem;" alt=""><br>
        <div style="margin-top: 1rem;">
            Welcome to {{ username }}
        </div>
    </center>
</body>
</html>
